@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
}

/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

body {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 579px;
  min-width: 20%;
  background-color: #1F1F1F;
  border-radius: 8px;
}

img {
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 25px;
}

/* General Background color */

.name, .location, .about {
  background-color: #1F1F1F;
}

.name {
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 20px;
}

.location {
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #C4F82A;
  margin-top: 12px;
}

.about {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 200;
  margin-top: 30px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 279px;
  height: 289px;
  margin-top: 25px;
  background-color: #1F1F1F;
}

a {
  text-decoration: none;
  color: white;
}

.buttons {
  width: 279px;
  height: 45px;
  background-color: #333333;
  color: #ffffffc7;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 15px 0 15px 0;
}

.attribution {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Animation for footer */

footer a {
  animation: smoothFill 5s ease-out 0s infinite both;
}

@keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}

@media( min-width: 480px ) {

  /* Hover transitions */

  .buttons:hover {
    background-color: #C4F82A;
    color: #141414;
    transition-duration: 1.5s;
    border-radius: 28px;
  }

  .profile-card {
    width: 384px;
    height: 611px;
  }
};